@import 'css/common/buttons.scss';
@import "css/common/vars/z-index";
@import "css/common/theme";



.self {
  @include button-reset();
  display: block;
  border-radius: 3px;
  margin: 0;
  padding: 4px 8px;
  height: 48px;
  background-color: #D8DADA;

  @extend %pp-category-font;
  text-align: center;


  &:hover,&.selected {
    @extend %pp-category-font;
  }

  &.category-additional-info {
    &:hover, &.selected {
      background-color: $additional-info-color;
    }
  }

  &.category-clarification {
    &:hover, &.selected {
      background-color: $clarification-color;
    }
  }

  &.category-error {
    &:hover, &.selected {
      background-color: $error-color;
    }
  }
}

// override semantic-ui
// TODO rewrite without important
.tooltip {
  z-index: $editor-z-index + 1 !important;
}
