@mixin pp-widget-edge() {
  border: 1px solid rgb(210, 212, 210);
  border-radius: 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

@mixin button-reset {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  padding: 0;
  font-size: $default-font-size + 2px;

  i {
    margin: 0;
  }

  &[disabled] {
    display: none;
  }
}

@mixin close-icon {
  position: absolute;
  right: 5px;
  top: 5px;

  border: none;
  outline: none;

  color: #888888;
  background: none;
  cursor: pointer;
}
