@import 'vars/scope';
@import 'vars/fonts';
@import 'vars/size';

#{$pp-scope}.ui.popup,
#{$pp-scope}.ui.modal {
  font-family: $font-family-preset !important;
  font-size: $default-font-size !important;
}

// Override default semantic ui popup padding
#{$pp-scope}.ui.popup.pp-popup-small-padding {
  padding: 8px;
}

// Override default semantic ui popup length
#{$pp-scope}.ui.popup.pp-popup-long-line {
  max-width: 420px;
}

.ui.page.modals.dimmer.transition.visible.active {
  z-index: 10000050;
}
