
/*
Colours that mark different reference priorities
 */
$normal-ref-color: #5679B0;
$warning-ref-color: #FDE300;
$alert-ref-color: #F7AB00;

/* fonts used throughout the app */
$light-font-family: "Open Sans Light";
$bold-font-family: "Open Sans SemiBold";


$tooltip-z-index: 10000;