@import "css/common/vars/fonts";

/* -- PP Action menu -- */
.self {
    position: absolute;
    width: 160px;
    height: 40px;
    margin-left: -70px;
    margin-top: -48px;

    .create-annotation {
        border-color: #2185D0 !important; // override semantic ui
        color: #2185D0 !important; // override semantic ui
        cursor: pointer;
    }

    .create-annotation:hover {
        color: darken(#2185D0, 10%) !important; // override semantic ui
    }

    button {
        font-family: $font-family-preset;
        font-weight: $font-semi-bold;
        font-size: $default-font-size !important;
    }
}
