.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 12px;
  margin-left: auto;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .3s;
  transition: .3s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: -3px;
  bottom: -2px;
  background-color: #F1F1F1;
  -webkit-transition: .2s;
  transition: .2s;
  box-shadow: 0 0 1px 0 rgba(0,0,0,0.12), 0 1px 1px 0 rgba(0,0,0,0.24);
}

input:checked + .slider {
  background-color: #e67e22;
}

input:focus + .slider {
  box-shadow: 0 0 1px #e67e22;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 16px;
}

.slider.round:before {
  border-radius: 50%;
}
