@import "css/common/vars/colors";
@import "css/common/vars/fonts";
@import "css/common/vars/sizes";

// The downward triangle attached to the widget from the pointer direction.
$triangle-size: 12px;
$transparent-offset-size: 50px;


:export {
  transparent-offset-size: $transparent-offset-size;
}

.self,
.inner {
  position: absolute;
}

.inner {
  margin: 0;
  padding: $transparent-offset-size;
  left: -18px - $transparent-offset-size;
  bottom: 15px - $transparent-offset-size;
  color: rgb(0, 0, 0);
  position: absolute;

  .content {
    position: relative;
  }
}

.inner strong {
  font-weight: bold;
}

.inner.widget-triangle:after {
  display: block;
  position: absolute;
  content: "";
  width: $triangle-size;
  height: $triangle-size;
  bottom: -$triangle-size / 2 + $transparent-offset-size;
  top: auto;
  left: 18px - $triangle-size / 2 + $transparent-offset-size;
  right: auto;
  z-index: 10;
  transform: rotate(45deg);

  background: #FFFFFF;
  box-shadow: 1px 1px 0px 0px rgb(210, 212, 210);
}

/*
When window is horizontally or vertically inverted
 */
.inner.invert-x {
  left: auto;
  right: -18px - $transparent-offset-size;
}

.inner.invert-y {
  bottom: auto;
  top: 8px - $transparent-offset-size;
}

.inner.invert-x.widget-triangle:after {
  left: auto;
  right: 18px - $triangle-size / 2 + $transparent-offset-size;
}

.inner.invert-y.widget-triangle:after {
  bottom: auto;
  top: -$triangle-size / 2 + $transparent-offset-size;
  transform: rotate(-135deg);
}

.inner.update-inverted {
  visibility: hidden;
}
