@import "css/common/vars/size";
@import "css/common/vars/colors";
@import "css/common/vars/fonts";
@import "css/common/mixins";
@import "css/common/vars/z-index";

/* -- PP Viewer -- */
// The oldest CSS in the project
// it would benefit from some refactoring in the meantime...
$viewer-font-size: 14px;

.self {
  background-color: white;
  padding: 6px $widget-inner-margin;
  z-index: $viewer-z-index;

  @include pp-widget-edge();
}

ul.annotation-items {
  margin: 0;
  padding: 0;
}

li.annotation {
  display: block;
  list-style: none;
  font-size: $viewer-font-size; /* for most of UI text */
  position: relative;
}

/* --- Viewer head bar --- */
.head-bar {
  padding-top: 4px;
  clear: both; /* push up controls */
  font-size: $viewer-font-size;
}

.comment-priority {
  float: left;
  margin-left: -($widget-inner-margin + 1px); /* cover the border */
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: $widget-inner-margin + 2px; /* indent the type indication */
  padding-right: $widget-inner-margin;

  background-color: rgb(86, 121, 176);
  font-weight: $font-semi-bold;
  color: rgb(255, 255, 255);
  text-transform: uppercase;

  &.priority-normal {
    background-color: $normal-ref-color;
  }
  &.priority-warning {
    background-color: $warning-ref-color;
  }
  &.priority-alert {
    background-color: $alert-ref-color;
  }

}

.comment-date {
  margin-top: 3px;
  margin-left: 5px;
  float: left;
  font-weight: $font-light;
  font-size: $viewer-font-size - 2px;
  color: rgb(86, 121, 176);
  min-width: 30px;
}

.controls {
  float: right;
  padding-right: 5px;
  opacity: 0;
  transition: opacity 0.2s ease-in; // animate on opacity change

  button {
    @include button-reset()
  }
}

// both controls appearing/disappearing behaviour
.annotation:hover .controls,
.controls.visible {
  opacity: 1;
}

// a single button hover behaviour
.controls button:hover {
  opacity: 0.8;
}

/* --- Viewer comment display --- */
.comment {
  width: $widget-inner-width;
  min-height: 48px;
  padding-top: 6px;
  padding-bottom: 6px;
  clear: both;

  font-weight: $font-light;
  font-size: 12px;
  color: rgb(0, 0, 0);

  /* bottom line */
  border-bottom: 1px solid rgb(210, 212, 210);

}

/* --- Viewer bottom bar --- */
.bottom-bar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  min-height: 25px;

  // Display small widget by default, but if there is comment ( that widens whole widget) then keep up with its width
  min-width: $small-widget-inner-width;
  width: 100%;

  padding-top: 6px; // = pp-viewer-widget padding-bottom

  color: rgb(136, 136, 136);
}

.annotation-link-container {
  min-height: 100%;
  margin-right: 8px;
}

.annotation-link {
  font-weight: $font-semi-bold;
  color: rgb(136, 136, 136);
  text-transform: uppercase;
  vertical-align: middle;

  font-size: 12px;
  line-height: 0.5em;
  clear: both;
}

.annotation-link-icon::after {
  margin-right: 3px;
  width: 12px;
  height: 12px;
  top:2px;
  position: relative;
  display: inline-block;
  content: url('../../../assets/hyperlink-icon.png');
}

.annotation-link-title {
  margin-left: 14px;
  font-size: $viewer-font-size;
  overflow-wrap: break-word;
  // Normally it adjusts to $widget-inner-width or $small-widget-inner-width, but to handle extreme edge-case when
  // somebody inserted very long word, which would distort whole design
  max-width: 330px;
  color: black;
  display: block;
}

.ratings {

  a {
    display: flex !important;
    justify-content: space-between;
    font-size: $viewer-font-size !important;
    font-weight: bold;
    margin-left: 30px;
    margin-right: 7px;


    .number {
      opacity: 0.8;
    }

    &.upvote.selected {
      color: #2b9344;
    }

    &.objection.selected {
      color: #ff6333;
    }
  }
  :hover {
    cursor: pointer;
  }
}

.upvote-icon::after {
  margin-left: 3px;
  width: 18px;
  height: 18px;
  display: inline-block;
  content: url('../../../assets/upvote-icon.png');
}


.actions-icon::after {
  display: block;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 18px;
  height: 18px;
  pointer-events: none;
  content: url('../../../assets/three-dots.svg');
  opacity: 0.5;
}
