@import "css/common/vars/size";
@import "css/common/vars/colors";
@import "css/common/vars/fonts";
@import "css/common/mixins";

/* -- PP Viewer -- */
// The oldest CSS in the project
// it would benefit from some refactoring in the meantime...
$viewer-font-size: 14px;

.self {
    background-color: white;
    padding: 6px $widget-inner-margin;

    @include pp-widget-edge();
}

ul.annotation-items {
    margin: 0;
    padding: 0;
}

li.annotation {
    display: block;
    list-style: none;
    font-size: $viewer-font-size; /* for most of UI text */
}

/* --- Viewer head bar --- */
.head-bar {
    padding-top: 4px;
    clear: both; /* push up controls */
    font-size: $viewer-font-size;
}

.comment-priority {
    float: left;
    margin-left: -($widget-inner-margin + 1px); /* cover the border */
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: $widget-inner-margin + 2px; /* indent the type indication */
    padding-right: $widget-inner-margin;

    background-color: rgb(86, 121, 176);
    font-weight: $font-semi-bold;
    color: rgb(255, 255, 255);
    text-transform: uppercase;

    &.priority-normal {
        background-color: $normal-ref-color;
    }
    &.priority-warning {
        background-color: $warning-ref-color;
    }
    &.priority-alert {
        background-color: $alert-ref-color;
    }

}

.comment-date {
    margin-top: 3px;
    float: right;
    font-weight: $font-light;
    font-size: $viewer-font-size - 2px;
    color: rgb(86, 121, 176);
    min-width: 30px;
}

.controls {
    float: right;
    padding-right: 5px;
    opacity: 0;
    transition: opacity 0.2s ease-in; // animate on opacity change

    button {
        border: none;
        outline: none;
        background: none;
        cursor: pointer;
        padding: 5px;
        font-size: $viewer-font-size + 2px;

        i {
            margin: 0;
        }

        &[disabled] {
            display: none;
        }
    }
}

// both controls appearing/disappearing behaviour
.annotation:hover .controls,
.controls.visible {
    opacity: 1;
}

// a single button hover behaviour
.controls button:hover {
    opacity: 0.8;
}


/* --- Viewer comment display --- */
.comment {
    width: $widget-inner-width;
    min-height: 48px;
    padding-top: 6px;
    padding-bottom: 6px;
    clear: both;

    font-weight: $font-light;
    font-size: 14px;
    color: rgb(0, 0, 0);
}

/* --- Viewer bottom bar --- */
.bottom-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    min-height: 25px;
    //max-height: 45px;
    //overflow: hidden;

    padding-top: 6px; // = pp-viewer-widget padding-bottom

    /* upper line */
    border-top: 1px solid rgb(210, 212, 210);

    color: rgb(136, 136, 136);
}

.annotation-link-container {
    max-width: 50%;
    min-height: 100%;
    margin-right: 8px;
}

.annotation-link {
    font-weight: $font-semi-bold;
    color: rgb(136, 136, 136);
    text-transform: uppercase;
    vertical-align: middle;

    font-size: 12px;
    line-height: 0.5em;
}

.ratings {
    display: flex;
    align-items: center;
    min-height: 100%;
    padding: 3px 0;

    a {
        display: flex !important;
        justify-content: space-between;
        font-size: $viewer-font-size - 1px !important;
        width: 110px;

        .number {
            opacity: 0.8;
        }

        &.upvote.selected {
            color: #2b9344;
        }

        &.objection.selected {
            color: #ff6333;
        }
    }
}


