@import 'css/common/vars/colors';
@import 'css/common/vars/fonts';
@import 'css/common/buttons.scss';
@import "css/common/vars/z-index";



.self {
  @include button-reset();
  display: block;
  border-radius: 3px;
  margin: 0;
  padding: 4px 8px;
  height: 48px;
  background-color: #D8DADA;

  @extend %annotation-priority-font;
  text-align: center;


  &:hover,&.selected {
    @extend %annotation-priority-font;
  }


  &.normal {
    &:hover,
    &.selected {
      background-color: $normal-ref-color;
    }
  }

  &.warning {
    &:hover,
    &.selected {
      background-color: $warning-ref-color;
    }
  }

  &.alert {
    &:hover,
    &.selected {
      background-color: $alert-ref-color;
    }
  }
}

// override semantic-ui
// TODO rewrite without important
.tooltip {
  z-index: $editor-z-index + 1 !important;
}
