@import 'css/common/vars/colors';
@import 'css/common/vars/fonts';

.self {
  display: block;
  border: none;
  outline: none;
  margin: 0;
  padding: 4px 8px;
  height: 48px;

  text-align: center;
  color: white;
  font-weight: $font-semi-bold;
  text-transform: uppercase;
  font-size: 12px;

  background-color: #D8DADA;
  cursor: pointer;

  &.normal {
    &:hover,
    &.selected {
      background-color: $normal-ref-color;
    }
  }

  &.warning {
    &:hover,
    &.selected {
      background-color: $warning-ref-color;
    }
  }

  &.alert {
    &:hover,
    &.selected {
      background-color: $alert-ref-color;
    }
  }
}
