/*
 * Global styles for the whole popup window
 */

@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
  height: 171px;
  border: none;
  border-color: rgba(0, 0, 0, 0.08);
  font-family: 'Roboto', sans-serif;

  a {
    text-decoration: none;
    color: #000000;
  }
  span, p {
    user-select: none;
    margin: 0;
  }
}

body {
  min-width: 230px !important;
  border-color: rgba(0, 0, 0, 0.08);
}

.pp-popup {
  width: 310px;
  background-color: #FFFFFF;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.icon {
  color: #34495E;
  margin-right: 10px;
}

.menu-top {
  display: flex;
  padding: 10px 0 5px 0;

  .icon {
    margin: 0;
    cursor: pointer;
    height: 18px;

    &:hover {
      color: #ccc;
    }
  }
}

.menu-logo {
  background-image: url('../../../assets/popup-logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 70px;
  width: 90%;
}

.menu-item {
  padding: 10px 20px;
  font-size: 14px;
  line-height: 1.5em;
  user-select: none;

}

.menu-subitem {
  @extend .menu-item;
  padding: 7px 20px;
  margin-left: 36px;
  display: flex;
  align-items: center;
}

.menu-item.primary {
  span, .icon  {
    color: #34495E;
  }
}

.clickable:hover {
  background-color: #ebecf0;;
  cursor: pointer;
}

.negativeActive {
  color: #e67e22;
}


.clickable.disabled {
  cursor: inherit;
  span, .icon {
    color: #ccc;
  }
  &:hover {
    background-color: #FFFFFF;
  }
}

.clickable.active {
  cursor: inherit;
  span, .icon  {
    color: #2ecc71
  }
  &:hover {
    background-color: #FFFFFF;
  }
}

.menu-separator {
  border-color: rgba(0, 0, 0, 0.08);
}

.menu-bottom {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}

.menu-header {
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 8px;
}

.menu-text {
  color: #616161;
  font-size: 12px;
  margin-bottom: 8px;
}

.caption {
  color: #616161;
  font-size: 11px;
  margin: 0 0 0 36px;
  line-height: 1.5em;
}

