@import 'common/common';


$editor-width: 450px;
$editor-font-size: 13px;

/* -- PP Adder -- */
.pp-adder {
    position: absolute;
    width: 140px;
    height: 40px;
    margin-left: -70px;
    margin-top: -48px;

    .create-annotation {
        border-color: #2185D0 !important; // override semantic ui
        color: #2185D0 !important; // override semantic ui
        cursor: pointer;
    }

    .create-annotation:hover {
        color: darken(#2185D0, 10%) !important; // override semantic ui
    }
}


/* -- PP Editor -- */
.pp-editor .pp-widget {
    width: $editor-width;
    background-color: white;
    font-size: $editor-font-size;
    font-family: $light-font-family;
}

/* --- Editor head bar --- */
.pp-editor .pp-editor-head-bar {
    padding: 0 21px 0 10.5px;
    margin: 5px 0 10.5px 0;

    .priority-header {
        display: inline-block;
        font-family: $bold-font-family;
        margin: 10.5px 0 7px 0;
    }
    /* priority buttons */
    .pp-editor-priority {
        display: inline-block;
        width: calc(100% - 10px);
        border: none;
        outline: none;
        margin: 0;
        padding: 3px 11px;
        line-height: 1em;

        text-align: center;
        color: rgb(255, 255, 255);
        font-family: $bold-font-family;
        text-transform: uppercase;

        background-color: #D8DADA;
        cursor: pointer;
    }
    /* priority-specific style */
    .priority-normal, .priority-warning, .priority-alert {
        display: inline-block;
    }
    .priority-normal {
        width: 33%;
        :hover,
        .selected {
            background-color: $normal-ref-color;
        }
    }
    .priority-warning {
        text-align: center;
        width: 34%;

        :hover,
        .selected {
            background-color: $warning-ref-color;
        }
    }
    .priority-alert {
        width: 33%;
        text-align: right;

        :hover,
        .selected {
            background-color: $alert-ref-color;
        }
    }
}

.pp-editor {
    /* fields: comment, referenceLink */
    .editor-input {
        display: block;
        padding: 0;
        margin: 0;
        position: relative;

        input, textarea {
            border: 1px solid #D8DADA;
            outline: none;
            color: #000000;
            font-family: $light-font-family;
            background: none;
            resize: none;
        }

        input:hover, input:focus,
        textarea:hover, textarea:focus {
            border: 1px dashed #888888;
            background: none;
        }

        textarea {
            //todo adjust border radius with KS
            @include border-radius(5px 5px 0 0);
        }

    }

    /* comment field */
    .pp-comment {
        padding: 0 21px 0 10.5px;
        overflow: auto;

        :first-child {
            box-sizing: content-box;
            float: left;
            padding: 6px;
            width: $editor-width - 31.5px - 12px;
            line-height: 1.2em;
            height: 3 * 1.2em; // number of lines
        }
    }

    .pp-bottom-bar {
        margin: 10.5px 10.5px;

        // KG very rough; I leave it so as this part is about to change anyway
        * {
            vertical-align: top;
        }

        .pp-link-form {
            display: inline-block;
            width: 60%;
            padding: 0;
        }

        .pp-reference-link {
            input {
                padding: 0 4px;
                height: 1.5em;
                width: $editor-width / 2;
            }
            .pp-error-msg {
                left: 0;
                top: 15px;
            }
        }
        .pp-reference-link.pp-hide {
            display: none;
        }

        .pp-link-box {
            position: relative;
            display: inline-block;
            border: 1px solid #D8DADA;
            margin: 0;
            height: 1.5em;
            width: 18px;
            text-align: center;
            .linkify.icon {
                margin: 0;
            }
        }

        .pp-link-box .pp-close {
            display: none;
        }

        .pp-link-box:hover .pp-close {
            display: block;
            width: 0;
            height: 0;
            // Manually chose what looked best; might be improved though...
            position: absolute;
            right: 0.1em;
            top: -0.7em;
        }

        .pp-reference-link-title {
            input {
                border-left: none;
                padding: 0 4px;
                height: 1.5em;
                width: $editor-width / 2 - 18px;
            }
        }
        .pp-reference-link-title.pp-hide {
            display: none;
        }

        .pp-reference-link-title .link-help {
            display: none;
        }

        .pp-reference-link-title:hover .link-help,
        .pp-reference-link-title input:focus + .link-help {
            display: inline-block;
        }

        // the bottom area used for dragging
        .pp-mover-area {
            display: inline-block;
            width: 10%;
            line-height: 1;
            min-height: 1em;
        }

        .pp-controls {
            display: inline-block;
            width: 30%;

            button {
                // reset default button styles
                border: none;
                outline: none;
                background: none;
                padding: 0 10px;
                height: 1.5em;
                cursor: pointer;
                font-family: $bold-font-family;
                color: #888888;
            }

            .priority-normal {
                color: darken($normal-ref-color, 5%);
            }
            .priority-warning {
                color: darken($warning-ref-color, 10%);
            }
            .priority-alert {
                color: darken($alert-ref-color, 5%);
            }
        }

    }
}

.pp-editor {
    .pp-error-msg {
        position: absolute !important; // override semantic-ui defaults
        z-index: $tooltip-z-index;
    }

    /* all cross-style close buttons */
    .pp-close {
        position: absolute;
        right: 0;
        top: 0;

        border: none;
        outline: none;

        color: #888888;
        background: none;
        cursor: pointer;
    }

    /* --- Help windows --- */
    .priority-help,
    .link-help {
        display: inline-block;

        margin-left: 5px;
        border: none;
        outline: none;

        font-size: 15px;
        color: #888888;

        background: none;
        cursor: pointer; // todo not sure
    }
}

// TODO review: copied from original annotator.css (and adapted to pp-editor & editor-input)
/* --- scrollbar --- */
// KG it's better than the default scrollbar, so we might want to make use of these
// I leave it here until we decide we don't

.pp-editor .editor-input textarea::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}

.pp-editor .editor-input textarea::-webkit-scrollbar-track-piece {
    margin: 13px 0 3px;
    background-color: #e5e5e5;
    -webkit-border-radius: 4px;
}

.pp-editor .editor-input textarea::-webkit-scrollbar-thumb:vertical {
    height: 25px;
    background-color: #ccc;
    -webkit-border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.pp-editor .editor-input textarea::-webkit-scrollbar-thumb:horizontal {
    width: 25px;
    background-color: #ccc;
    -webkit-border-radius: 4px;
}