@import "common/vars/fonts";
@import "common/vars/colors";
@import "common/vars/z-index";
@import "common/mixins";

$editor-width: 450px;
$editor-font-size: 14px;
$editor-horizontal-spacing: 20px;
$editor-vertical-spacing: 15px;

/* -- PP Editor -- */
.pp-editor-widget .pp-widget {
    width: $editor-width;
    background-color: white;
    font-size: $editor-font-size;
    font-family: $font-family-preset;
    font-weight: $font-light;

    // override semantic ui styles
    button, textarea, input, optgroup, select {
        font-family: $font-family-preset;
    }
}

/* --- Editor head bar --- */
.pp-editor-widget .pp-editor-head-bar {
    padding: 0 $editor-horizontal-spacing 0 $editor-horizontal-spacing;
    margin: $editor-vertical-spacing 0 $editor-vertical-spacing 0;

    .priority-header {
        display: inline-block;
        font-weight: $font-semi-bold;
        margin: 0 0 10px 0;
    }

    //temporary solution
    button {
        font-size: 12px;
    }
}

/* all form styles */
.pp-editor-widget {
    /* fields: comment, referenceLink */
    .editor-input {
        display: block;
        padding: 0;
        position: relative;
        margin: 0 $editor-horizontal-spacing $editor-vertical-spacing $editor-horizontal-spacing;

        input, textarea {
            padding: 0.5em;
            width: 100%;
            border: 1px solid #D8DADA;
            outline: none;
            color: #000000;
            font-weight: $font-light;
            font-size: $editor-font-size;
            line-height: 1em;
            background: none;
            resize: none;
        }

        textarea {
            //todo adjust border radius with KS
            @include border-radius(5px 5px 0 0);
        }

        input:hover, input:focus,
        textarea:hover, textarea:focus {
            border: 1px dashed #888888;
            background: none;
        }

        // based on semantic-ui's .ui.input.error
        input.error, textarea.error,
        input.error:hover, textarea.error:hover,
        input.error:focus, textarea.error:focus {
            background-color: #fff6f6;
            border-color: #e0b4b4;
            color: #9f3a38;
        }

    }

    /* comment field */
    .pp-comment {
        overflow: auto;

        textarea {
            float: left;
            padding: 0.5em;
            width: 100%;
            line-height: 1.2em;
            height: calc(3 * 1.2em + 1.1em); // 3 lines
        }
    }

    /* reference link field */
    .pp-reference-link {
        input {
            padding-left: 2em;
        }
        .pp-error-msg {
            left: 0;
            top: 20px;
        }

        .input-icon {
            display: block;
            position: absolute;
            top: 9px;
            left: 0;
            width: 2em;
        }
    }

    .pp-reference-link-title {

        input {
            padding-left: 2em;
            width: 381px;
        }

        .input-icon {
            display: block;
            position: absolute;
            top: 9px;
            left: 0;
            width: 2em;
        }

        .pp-error-msg {
            left: 0;
            top: 20px;
        }

        .link-help {
            width: 20px;
        }
    }
}

.pp-editor-widget .pp-bottom-bar {
    margin: $editor-vertical-spacing $editor-horizontal-spacing $editor-vertical-spacing $editor-horizontal-spacing;

    .pp-controls {
        display: inline-block;
        width: 100%;
        text-align: right;

        button {
            border: none;
            outline: none;
            background: none;
            padding-left: 10px;
            height: 1.5em;
            cursor: pointer;
            font-weight: $font-semi-bold;
            font-size: $editor-font-size + 1px;
            color: #888888;
        }

        button:hover {
            color: darken(#888888, 8%);
        }
        // use priority-specific as a baseline and darken it so it presents well as a button
        // for :hover, darken it even more (manually selected values)
        .priority-normal {
            color: darken($normal-ref-color, 5%);
        }
        .priority-normal:hover {
            color: darken($normal-ref-color, 5% + 8%);
        }
        .priority-warning {
            color: darken($warning-ref-color, 8%);
        }
        .priority-warning:hover {
            color: darken($warning-ref-color, 8% + 4%);
        }
        .priority-alert {
            color: darken($alert-ref-color, 5%);
        }
        .priority-alert:hover {
            color: darken($alert-ref-color, 5% + 4%);
        }
    }
}

/* Some pp-editor-widget embedded elements */
.pp-editor-widget {
    .pp-error-msg {
        position: absolute !important; // override semantic-ui defaults
        z-index: $tooltip-z-index;
    }

    /* all cross-style close buttons */
    .pp-close {
        position: absolute;
        right: 0;
        top: 0;

        border: none;
        outline: none;

        color: #888888;
        background: none;
        cursor: pointer;
    }

    // the bottom area used for dragging
    .pp-mover-area {
        display: inline-block;
        width: 5%;
        line-height: 1;
        min-height: 1em;

        position: absolute;
        right: 6px;
        top: 0;
    }

    /* --- Help windows --- */
    .priority-help,
    .link-help {
        display: inline-block;

        margin-left: 7px;
        border: none;
        outline: none;

        font-size: 17px;
        color: #888888;

        background: none;
        cursor: pointer; // todo not sure
    }
}

// TODO review: copied from original annotator.css (and adapted to pp-editor-widget & editor-input)
/* --- scrollbar --- */
// KG it's better than the default scrollbar, so we might want to make use of these
// I leave it here until we decide we don't

.pp-editor-widget .editor-input textarea::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}

.pp-editor-widget .editor-input textarea::-webkit-scrollbar-track-piece {
    margin: 13px 0 3px;
    background-color: #e5e5e5;
    -webkit-border-radius: 4px;
}

.pp-editor-widget .editor-input textarea::-webkit-scrollbar-thumb:vertical {
    height: 25px;
    background-color: #ccc;
    -webkit-border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.pp-editor-widget .editor-input textarea::-webkit-scrollbar-thumb:horizontal {
    width: 25px;
    background-color: #ccc;
    -webkit-border-radius: 4px;
}
