/*
  Styles related to selection highlighting
 */

$pp-highlight-class: pp-highlight;
$pp-highlight: "." + $pp-highlight-class;

#{$pp-highlight} {
  background: rgba(120, 120, 120, 0.3);
}

:export {
  pp-highlight-class: $pp-highlight-class;
}
