/*
  Styles related to selection highlighting
 */

//TODO to be reviewed and improved

.annotator-hl {
	background: #5679B0;
	background: rgba(86, 121, 176, 0.3);
	/* just so it doesn't get overwritten in ancient IE, if original annotator supports them */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#5679B0, endColorstr=#5679B0)"; /* 0.3 == 4D in MS filters */
}
