@import "css/common/theme";
@import 'css/common/buttons.scss';

.modalContent {
    padding: 25px;
    background-color: white;
    width: 500px;
    cursor: default;
}

.modalHeader {
    @extend %pp-header-font;
    margin-bottom: 25px;
}

.modalText {
    @extend %pp-basic-font;
}

.controls {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    margin-top: 25px;
}
