/* Widgets are both the adder and the viewer. */
.annotator-widget {
	/* reset annotator.js's styling */
	border-radius: 0px;

	min-width: 500px;
	border-color: rgb(210, 212, 210);
}
.annotator-widget::after {
	/* The downward triangle below widget. */

	left: 250px;
	
	/* TODO! new spritesheet need from the UX team. (eg. this triangle) */
}
