@import 'css/common/vars/scope';
@import "css/common/vars/sizes";
@import "css/common/vars/colors";
@import "css/common/mixins";
@import "css/common/vars/fonts";
@import "css/common/vars/z-index";
@import "css/common/theme";

.self {
  background-color: white;
  padding: 6px $widget-inner-margin;
  z-index: $viewer-z-index;

  @include pp-widget-edge();

  // the border between annotations and annotation requests
  ul:nth-of-type(2) {
    border-top: 3px solid #a9a9a9;
    margin-top: 10px;
    padding-top: 10px;
  }
}

ul.annotation-items,
ul.annotation-request-items {
  margin: 0;
  padding: 0;
}
