/*
  All styles will only apply to elements, with a $pp-scope class parent.
  We do not use global styles, so they do not break other websites' styles.
 */
$pp-scope-class: pp-ui;
$pp-scope: "." + $pp-scope-class;

:export {
  // Adding suffix Value no to clash with $ var
  pp-scope-class: $pp-scope-class;
}
