html, body {
  height: 171px;
  border: none;
  border-color: rgba(0, 0, 0, 0.08);
}

body {
  min-width: 230px !important;
  border-color: rgba(0, 0, 0, 0.08);
}

.pp-popup {
  max-width: 230px;
  min-width: 230px;
  background-color: #FFFFFF;


  .menu {
    list-style: none;
    margin: 0;
    padding: 8px 0;


    &__item {
      padding: 12px;
      font-size: 14px;
      display: flex;
      line-height: 1.5em;


      &__icon {
        height: 22px;
        margin-right: 12px;
      }

      a {
        text-decoration: none;
        color: #000000;
      }
    }

    &__sub-item {
      @extend .menu__item;
      margin-left: 34px;
    }

    .clickable:hover {
      background-color: rgba(0, 0, 0, 0.08);
      cursor: pointer;
    }

    .clickable.disabled a {
      //TODO change the icon color for disabled
      color: #ccc;
    }


    &__separator {
      border-color: rgba(0, 0, 0, 0.08);
    }

  }
}
